body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-content: center;
  justify-content: center;
  display: flex;
  /* background-image: url('/register-background.png'); */
}

code {
  font-family: sans-serif;
}
